.form {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  @include mobile {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1/1;
    margin-top: 0.25rem;

    @include mobile {
      grid-row: 2;
      width: 2rem;
      height: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    @include mobile {
      grid-row: 2;
    }
  }

  &-reply {
    margin-top: 0.5rem;
    animation: 0.2s popin;
    position: relative;

    @keyframes popin {
      from {
        transform: translateY(-100%);
        opacity: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: -1;
      }
      99% {
        z-index: -1;
      }
      100% {
        z-index: unset;
      }
    }
  }
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 0.5rem;
  border-color: $Light-gray;
  font-family: inherit;
  font-size: inherit;
  padding: 0.875rem 1.5rem;
  min-height: 6rem;
  outline: none;
  color: $Dark-blue;
  overflow: hidden;
  caret-color: $Moderate-blue;
  display: block;

  @include mobile {
    grid-column: 1/-1;
  }

  &.error {
    border-color: $Soft-red;

    &:hover {
      border-color: $Soft-red;
    }

    &::placeholder {
      color: $Soft-red;
    }
  }

  &:hover {
    border-color: $Light-grayish-blue;
  }

  &:focus {
    border-color: $Moderate-blue;
  }

  &::placeholder {
    color: $Grayish-blue;
  }
}
